# Specific files
f1_cache
media
books
notebooks/trial.ipynb

# VS Code files
.vscode

# Ignore Python virtual environments
.venv/

# Ignore Python junk
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/